.fly{
    width:100%;
    position: absolute;
    z-index: 99999999;
    display:flex;
    bottom:11%;
}
.link{
    flex: 1;
}
.stone{
    margin: 0 auto;
    display:block;
    width:100%;
    height: 40px;
    background-color: red;
    opacity:0;
}