@import "../../assets/css/shared.scss";

.register-page {
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    $contentSize: 800px;
    .form-header {
      width: $contentSize;

      .header {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: right;
      }
    }

    .ant-form {
      width: $contentSize;

      .ant-form-explain {
        margin-top: 0;
      }

      .btn-verify {
        width: 100%;
      }

      .delete-content {
        cursor: pointer;
        opacity: .2;
        transition: opacity .3s;
      }

      .delete-content:hover {
        opacity: .8;
      }

      .form-footer {
        font-size: 0.9em;
        text-align: right;
        margin-bottom: 20px;
      }

      .form-submit {
        width: 100%;
      }

      .form-agreement {
        cursor: pointer;
        color: $primaryColor;
      }
    }
    @media screen and (max-width: 768px) {
      .form-header{display: none}
      .form-container{
        display: block !important;
        transform: translateY(0%) translateX(0) !important;
       }
      .ant-form {
        width: 100% !important;
        padding: 20px;
        .form-footer{
          text-align: left;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .form-container{
      display: block !important;
      transform: translateY(0%) translateX(0) !important;
     }
   
  }
}
