* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  html body {
    background-color: #ffffff;
    color: #626262;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: .045em;
    overflow-x: hidden; }
  html ul, html li, html ol {
    list-style: none;
    margin-bottom: 0; }

.clearfix {
  zoom: 1; }
  .clearfix :after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

i.anticon-phone {
  transform: rotateY(180deg); }

.center-profile-page {
  background-color: #fff;
  padding-top: 40px; }
  .center-profile-page .delete-content {
    cursor: pointer;
    opacity: .2;
    transition: opacity .3s; }
  .center-profile-page .delete-content:hover {
    opacity: .8; }
  .center-profile-page .form-submit {
    width: 100%; }
