* {
    margin: 0;
    padding: 0;
    text-decoration: none;
 }
html, body {
    height: 100%;
    width: 100%; 
    color: #111111;
}
.ant-tabs-nav{
    display:block;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    position: fixed;  
    top:0;
    z-index: 9999999;
    color: #111111;
}
.ant-tabs-nav-container{
    font-size: 16px;
}
.nowColor{
    color: #111111;
}
.ant-tabs-ink-bar{
    background-color: #4DBECD;
    left: 25%;
    width: 25% !important;
}
.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active{
    color: #4DBECD;
}
.ant-card-body{
    padding: 10px;
    background-color: #F2F2F2;
}
.dangerouslySetInnerHTML-params p, .dangerouslySetInnerHTML-params{
    margin: 0;
    padding: 0;
}
.dangerouslySetInnerHTML-params img{
    margin: 0;
    padding: 0;
    width: 100%;
}
p.vipinfo {
    background-color:#FFF1F4;
    height:36px;
    line-height:36px;
    font-size:10px;
    margin-bottom: 0;
}
p.GoodsSeriesParams {
    color:#A1A1A1;
    border-bottom:1px solid #F2F2F2;
    margin-bottom: 0;
    padding: 0.5rem 0;
    /* height: 36px;
    line-height: 36px; */
    /* display: flex;
    -webkit-display:flex;
    justify-content: space-around; */
}
.ant-carousel {
    height: 215px;
    overflow: hidden;
}
.ant-carousel .slick-slide {
    text-align: center;
    background: #FFF;
    /* padding-bottom:20px; */
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-carousel .slick-dots li button, .ant-carousel .slick-dots li.slick-active button {
      width:10px;
      height:10px;
      border-radius:5px;
      background-color: #C9C9C9;
  }
  .ant-carousel .slick-dots li.slick-active button {
      background-clip: #E4E4E4;
  }
  .ant-btn {
      color: #FFF;
      border: none;
      padding: 0 4px;
      height: 16px;
      /* width: 40px; */
      font-size: 9px;
  }
  .Standard {
      color: #FFF;
      display: inline-block;
      border-radius: 4px;
      vertical-align: middle;
      font-size: 10px;
      margin-right:5px;
    background-color: #33CCCC;
}
.notStandard {
    color: #FFF;
    display: inline-block;
    border-radius: 4px;
    vertical-align: middle;
    font-size: 10px;
    margin-right:5px;
    background-color: #FFb717;
}
span.GoodsSeriesUnit {
    color: #FFF;
    font-size: 12px;
    margin-left: 10px;
}
span.from {
    display: inline-block;
    border: 1px solid #FFFF99;
    width: 16px;
    height: 20px;    
    vertical-align: middle;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    border-radius: 4px;
    color: #FFFF99;
}
span.GoodsSeriesSetNum {
    color:red;
}
span.dot {
    margin:0 3px;
}
.ant-card.GoodsParams {
    margin-top: 5px;
    
}
.ant-card.GoodsParams .ant-card-head {
    margin-bottom: 0;
    padding: 4px 10px;
    min-height: auto;
}
.ant-card.GoodsParams .ant-card-head-title, .ant-card.GoodsParams .ant-card-extra {
    padding: 4px 0px;
    font-size: 12px;
}
.ant-card.GoodsParams .ant-card-body {
    background-color: #FFF;
}
.ant-card.GoodsParams .ant-card-body li {
    margin: 5px auto;
}
span.ParamName {
    display: inline-block;
    min-width: 80px;
    margin-right: 20px;
    color: #999;
}
.ant-drawer.Params .ant-drawer-header {
   text-align: center;
}
.ant-drawer.Params .ant-drawer-close {
    display: none;
}
.ant-drawer.Params .ant-drawer-body {
    padding:0;
}
p.ParamsList {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 14px;
    margin-bottom: 0;
}
.ant-btn.close {
    width: 100%;
    position: absolute;
    bottom:0;
    background-color: #33CCCC;
    height: 45px;
    font-size: 14px;
}
.serviceContainer {
    width:100%;
    margin-top:5px;
    background-color: #FFF;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    display: inline-flex;
    display: -webkit-inline-flex;
    overflow: hidden;
    justify-content: space-between;
}
.serviceContainer .anticon-right {
    float: right;
    margin-top: 12px;
}
p.match {
    display: inline-block;
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ant-card.GoodsParams {
    border: none;
}
  .goods_detail .progress-bar {
    float: left;
    width: 100%;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 20px;
    color: #fff;
    position: relative;
    text-align: left;
    background-color: #FBEEB7;
    border-radius: 10px;
  }
  .goods_detail .progress-bar span {
    display: inline-block;
    height: 20px;
    width: 0%;
    background-color: #FCE43F;
  }
  .goods_detail .progress-bar label{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 12px;
    font-weight: normal;
    color: #FFF;
  }