* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html, body {
  height: 100%;
  width: 100%; }

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  html body {
    background-color: #ffffff;
    color: #626262;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: .045em;
    overflow-x: hidden; }
  html ul, html li, html ol {
    list-style: none;
    margin-bottom: 0; }

.clearfix {
  zoom: 1; }
  .clearfix :after {
    content: '.';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }

i.anticon-phone {
  transform: rotateY(180deg); }

.nav-menu {
  background-color: #4CBECC;
  width: 100%;
  border-radius: 0;
  padding: 0 10%;
  font-weight: 800;
  border-width: 0;
  list-style: none; }
  .nav-menu .item {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    width: 120px;
    text-align: center;
    white-space: nowrap; }
  .nav-menu .item.selected {
    background-color: #27808b; }
